<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>UnZip</string>
	<key>CFBundleIdentifier</key>
	<string>com.unzip.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UnZip</string>
	<key>CFBundleDisplayName</key>
	<string>UnZip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 UnZip</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.iso-image</string>
				<string>com.apple.disk-image</string>
				<string>com.apple.xar-archive</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>zipx</string>
				<string>rar</string>
				<string>7z</string>
				<string>tar</string>
				<string>gz</string>
				<string>tgz</string>
				<string>bz2</string>
				<string>xz</string>
				<string>iso</string>
				<string>img</string>
				<string>dmg</string>
				<string>xar</string>
				<string>pkg</string>
				<string>cpio</string>
				<string>cab</string>
				<string>lha</string>
				<string>apk</string>
				<string>ipa</string>
				<string>jar</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder or File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.directory</string>
				<string>public.data</string>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Zip with UnZip</string>
			</dict>
			<key>NSMessage</key>
			<string>zipWithUnZip</string>
			<key>NSPortName</key>
			<string>UnZip</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.directory</string>
				<string>public.data</string>
			</array>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
				<key>NSTextContent</key>
				<array>
					<string>FilePath</string>
					<string>URL</string>
				</array>
			</dict>
			<key>NSTimeout</key>
			<string>30000</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeDescription</key>
			<string>RAR Archive</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
